{% extends 'main.html' %} {% block content %}
<main class="singleProject my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <h3 class="singleProject__subtitle">Tools & Stacks</h3>
        <div class="singleProject__toolStack">
          {% for tag in project.tags.all %}
          <span class="tag tag--pill tag--sub tag--lg"><small>{{tag}}</small></span>
          {% endfor %}
        </div>
        {% if project.source_link %}
        <a class="singleProject__liveLink" href="#" target="_blank">
          <i class="im im-external-link"></i>
          Source Code
        </a>
        {% endif %} {% if project.demo_link %}
        <a class="singleProject__liveLink" href="#" target="_blank">
          <i class="im im-external-link"></i>
          Live Demo
        </a>
        {% endif %}
      </div>
      <div class="column column--2of3">
        <img class="singleProject__preview" src="{{ project.featured_image.url }}" alt="portfolio thumbnail"/>
        <a href="{% url 'profile' project.owner.id %}" class="singleProject__developer">{{project.owner.name}}</a>
        <h2 class="singleProject__title">{{project.title}}</h2>
        <h3 class="singleProject__subtitle">About the Project</h3>
        <div class="singleProject__info">
            {{project.description}}
        </div>
        <div class="comments">
          <h3 class="singleProject__subtitle">Feedback</h3>
          <h5 class="project--rating">
            {{project.vote_ratio}}% Postitive Feedback ({{project.vote_total}}&nbsp;Vote{{project.vote_total|pluralize:"s"}})
          </h5>
          <form class="form" action="#" method="POST">
            <div class="form__field">
              <label for="formInput#textarea">Comments: </label>
              <textarea class="input input--textarea" name="message" id="formInput#textarea" placeholder="Write your comments here..."></textarea>
            </div>
            <input class="btn btn--sub btn--lg" type="submit" value="Comments"/>
          </form>
          <div class="commentList">
            <div class="comment">
              <a href="profile.html">
                <img class="avatar avatar--md" src="https://pbs.twimg.com/profile_images/1335382240931368961/b3wSZKj4_400x400.jpg" alt="user"/>
              </a>
              <div class="comment__details">
                <a href="profile.html" class="comment__author">Sulamita Ivanov</a>
                <p class="comment__info">
                  I'm baby snackwave pork belly green juice craft beer. Adaptogen hexagon live-edge scenester, affogato semiotics wolf hot chicken YOLO biodiesel gochujang VHS banjo salvia. Neutra hexagon tote bag austin fanny pack taxidermy viral tousled. Viral retro chicharrones celiac kickstarter, PBR&B scenester. Godard vinyl live-edge copper mug pinterest freegan tattooed blog. Woke health goth raw denim etsy kinfolk cold-pressed hexagon, gluten-free roof party hot chicken poutine you probably haven't heard of them.
                </p>
              </div>
            </div>
            <div class="comment">
              <a href="profile.html">
                <img class="avatar avatar--md" src="https://avatars.githubusercontent.com/u/33843378" alt="user"/>
              </a>
              <div class="comment__details">
                <a href="profile.html" class="comment__author">Dennis Ivanov</a>
                <p class="comment__info">
                  Next level tote bag activated charcoal, vape truffaut everyday carry taxidermy. Vexillologist scenester gastropub kitsch hoodie waistcoat. Put a bird on it unicorn DIY chicharrones, glossier fashion axe skateboard beard brooklyn scenester bespoke. Literally polaroid lyft, unicorn YOLO plaid butcher distillery hexagon occupy seitan mlkshk mustache. Ethical hella kinfolk poke, pabst hoodie lyft chillwave. Umami yuccie PBR&B disrupt tacos, small batch venmo hella jianbing heirloom neutra pug pitchfork. Meditation VHS church-key bushwick.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
