<div class="comments">
    <h3 class="singleProject__subtitle">Feedback</h3>
    <h5 class="project--rating">
      {{project.vote_ratio}}% Postitive Feedback ({{project.vote_total}}&nbsp;Vote{{project.vote_total|pluralize:"s"}})
    </h5>
    {% if request.user.profile.id in project.reviewers %}
    <p>You have already submitted a review for this project.</p>
    {% elif request.user.profile == project.owner %}
    {% elif request.user.is_authenticated %}
    <form class="form" action="{% url 'project' project.id %}" method="POST">
      {% csrf_token %} 
      {% for field in form %}
      <div class="form__field">
        <label>{{field.label}}</label>
        {{field}}
      </div>
      {% endfor %}
      <input class="btn btn--sub btn--lg" type="submit" value="Comments"/>
    </form>
    {% else %}
      <p>Please <a href="{%  url 'login' %}?next={{request.path}}">login</a> to leave a review</p>
    {% endif %}
    
    <div class="commentList">
      {% for review in project.review_set.all %}
      {% if review.body %}
      <div class="comment">
        <a href="{% url 'profile' review.owner.id %}">
          <img class="avatar avatar--md" src="{{review.owner.profile_image.url}}" alt="user"/>
        </a>
        <div class="comment__details">
          <a href="{% url 'profile' review.owner.id %}" class="comment__author">{{review.owner.name}}</a>
          <p class="comment__info">
            {{review.body|linebreaksbr}}
          </p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
</div>