<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We are &#60;devs&#47;&#62;</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script src="{% static 'js/app.js' %}""></script>
</head>

<body>
    {% include 'navbar.html' %} 

    {% if messages %}
        {% for message in messages %}
        <div class=" alert alert--{{message.tags}}">
            <p class="alert__message">{{ message }}</p>
            <button id="test" class="alert__close">X</button>
        </div>
        {% endfor %}
    {% endif %}
    
    {% block content %} 
    {% endblock content %}

    <footer></footer>
</body>

</html>